*.o
*.lib
*.a
*.so
*.so.*
*.swp
*~

Makefile.in
.deps/

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
Makefile
ar-lib
m4/
